/* Ipad */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    html {
        width: 718px;
        margin: auto;
    }
    /* Section Header */
    .section-title h1 {
        font-size: 42px;
        line-height: 42px;
    }
    /* Section New Info */
    .col-md0 {
        width: 0%;
    }

    .col-md1 {
        width: 8.33333%;
    }

    .col-md2 {
        width: 16.66667%;
    }

    .col-md3 {
        width: 25%;
    }

    .col-md4 {
        width: 33.33333%;
    }

    .col-md5 {
        width: 41.66667%;
    }

    .col-md6 {
        width: 50%;
    }

    .col-md7 {
        width: 58.33333%;
    }

    .col-md8 {
        width: 66.66667%;
    }

    .col-md9 {
        width: 75%;
    }

    .col-md10 {
        width: 83.33333%;
    }

    .col-md11 {
        width: 91.66667%;
    }

    .col-md12 {
        width: 100%;
    }

    .content-center {
        border: none;
        height: 34rem;
    }

    .content-left {
        height: 34rem;
    }

    .mt-bd-0 {
        margin: 0;
    }

    .boder-md {
        border-bottom: 1px solid #e2e2e2;
        height: 560px;
        margin-bottom: 20px;
    }

    .content-right {
        border-bottom: none;
        border-right: 1px solid #e2e2e2;
    }
}
/* Ipad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    html {
        width: 974px;
        margin: auto;
    }
}
/* Mobile */
@media only screen and (max-width: 740px) {
    html {
        width: 365px;
        margin: auto;
    }

    .col-md0 {
        width: 0%;
    }

    .col-sm1 {
        width: 8.33333%;
    }

    .col-sm2 {
        width: 16.66667%;
    }

    .col-sm3 {
        width: 25%;
    }

    .col-sm4 {
        width: 33.33333%;
    }

    .col-sm5 {
        width: 41.66667%;
    }

    .col-sm6 {
        width: 50%;
    }

    .col-sm7 {
        width: 58.33333%;
    }

    .col-sm8 {
        width: 66.66667%;
    }

    .col-sm9 {
        width: 75%;
    }

    .col-sm10 {
        width: 83.33333%;
    }

    .col-sm11 {
        width: 91.66667%;
    }

    .col-sm12 {
        width: 100%;
    }

    .list-nav {
        justify-content: space-around;
    }

    .content-left {
        border: none;
        padding-bottom: 25px;
        height: auto;
        border-bottom: 1px solid #e2e2e2;
    }

    .content-center {
        border: none;
        padding-top: 25px;
        height: auto;
        padding-bottom: 25px;
        border-bottom: 1px solid #e2e2e2;
    }

    .content-right {
        padding-top: 25px;
    }

    .list-content {
        display: block;
    }

        .list-content li {
            padding: 0;
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom: 1px solid #e2e2e2;
            border-right: 0;
            padding-bottom: 50px;
        }

            .list-content li:first-child {
                padding-top: 0;
            }

            .list-content li:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }

        .list-content img {
            max-width: 30%;
            height: auto;
            float: right;
            width: auto;
            padding-left: 10px;
        }

    .display-sm {
        display: none;
    }

    #latest {
        margin-top: 50px;
    }
}
