* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

:root {
    --famlily-1: nyt-franklin,helvetica,arial,sans-serif;
    --famlily-2: 'Times New Roman', Times, serif;
    --text: #333;
    --text-dark: #111;
    --text-gray: #444;
    --text-gray-light: #888;
    --line: #d6d6d6;
    --line-light: #e2e2e2;
    --blue: #567b95;
    --blue-hover: #b8ecec42;
    --blue-blur: rgba(86, 123, 149,0.3);
    --blue-blur-background: rgba(86, 123, 149,0.1);
    --hover-light: #f7f7f7;
    --shadow: #3333333a;
}

.rowp::after {
    content: "";
    display: block;
    clear: both;
}

.rowp {
    margin-left: -16px;
    margin-right: -16px;
}

.col {
    float: left;
    padding: 0 16px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.mt-19 {
    margin-top: 19px;
}

/* Section Header */
#section-header {
    margin-top: 45px;
}

.section-header-link {
    color: #333;
    text-decoration: none;
}

/*.section-header-link:hover {
        color: #757575;
        transition: all linear .2s;
    }*/

.section-title h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 48px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
}

.section-world {
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    padding-bottom: 15px;
}

.section-nav {
    border-top: 1px solid #e2e2e2;
    border-bottom: 2px solid var(--text-dark);
}

.list-nav {
    list-style: none;
    display: flex;
    padding: 9px 0 7px;
    font-family: var(--famlily-1);
}

    .list-nav a {
        text-decoration: none;
        color: var(--text-dark);
    }

        .list-nav a:hover {
            text-decoration: underline;
            color: var(--text-dark) !important;
        }

    .list-nav li {
        padding: 0 8px;
        font-size: 11px;
        line-height: 11px;
        border-right: 1px solid #ccc;
        text-transform: uppercase;
    }

        .list-nav li:first-child {
            padding-left: 0;
        }

        .list-nav li:last-child {
            border-right: 0;
        }
/* Section Content */
#section-content {
    padding-top: 29px;
    border-top: 2px solid #000;
}

.section-content-head img {
    width: 100%;
    height: 100%;
}

.head-img p {
    font-size: 1rem;
    display: inline-block;
    font-weight: 500;
    line-height: 0.75rem;
    margin-top: 2px;
    color: #b3b3b3;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    text-transform: uppercase;
    float: right;
    height: 15px;
}

.head-img {
    padding-bottom: 30px;
}

.head-content .head-title a {
    text-decoration: none;
    color: var(--text-dark);
}

    .head-content .head-title a:hover {
        text-decoration: underline;
        color: var(--text-dark) !important;
    }

.head-content .head-title h2 {
    font-feature-settings: 'kern';
    margin-bottom: 7px;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 2.2375rem;
    font-weight: 700;
    line-height: 2.6875rem;
}

.head-descrip {
    margin-bottom: 0;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
}

.head-article {
    color: #999;
    display: flex;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.75rem;
    margin-top: 10px;
}

.space {
    background-color: #999;
    border-radius: 1px;
    height: 2px;
    width: 2px;
    margin: 4px 5px 0;
}

.content-left {
    border-right: 1px solid #e2e2e2;
    
}

.content-center {
    border-right: 1px solid #e2e2e2;
    
}

.content-right {
    padding-bottom: 19px;
    border-bottom: 1px solid #e2e2e2;
}

.head-img-right {
    display: block;
    height: 75px;
    width: 75px;
    float: right;
}

.section-content-center {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
}

    .section-content-center ul {
        list-style: none;
    }

.list-content {
    display: flex;
    flex-wrap: wrap;
}

.list-content img {
    max-width: 100%;
    height: auto;
}

    .list-content li {
        padding: 0px 20px;
        padding-bottom: 20px;
        border-right: 1px solid #e2e2e2;
        flex-basis: 20%;
        
    }

        .list-content li:nth-child(10),
        .list-content li:nth-child(6),
        .list-content li:nth-child(7),
        .list-content li:nth-child(8),
        .list-content li:nth-child(9) {
            border-bottom: none !important;
            margin-top: 20px;
        }

        .list-content li:last-child, .list-content li:nth-child(5) {
            border-right: 0;
        }


        .list-content li:nth-child(6),
        .list-content li:first-child {
            
        }

        .list-content li:first-child {
        }

    .list-content a {
        text-decoration: none;
        color: var(--text-dark);
        font-weight: bold;
    }

        .list-content a:hover {
            text-decoration: underline;
            color: var(--text-dark) !important;
        }

    .list-content h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

.section-content-foot {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
}

    .section-content-foot ul {
        list-style: none;
    }
/* Section Us */
#us {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 70px;
}

.us-content ul {
    list-style: none;
}

.nation-header a {
    text-decoration: none;
}

.nation-header {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

    .nation-header > h2 > a {
        color: var(--text-dark);
    }

    .nation-header > h2 {
        font-family: nyt-franklin,helvetica,arial,sans-serif;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.25rem;
    }

    .nation-header > a {
        color: #326891;
        font-family: nyt-franklin,helvetica,arial,sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 0.875rem;
        transition: all linear .2s
    }

        .nation-header > a:hover {
            transform: translateX(10px);
            color: #326891 !important;
        }

/* Section VietNam */
#vietnam {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}
/* Section Latest */
#latest {
    margin-top: 10px;
    
}




.tabs {
    display: flex;
    position: relative;
    justify-content: center;
}

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: var(--blue) ;
        transition: all 0.2s ease;
    }

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #757575;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

    .tab-item:hover {
        opacity: 1;
        background-color: var(--blue-blur-background);
        border-color: var(--blue-blur);
    }

    .tab-item.active {
        opacity: 1;
    }

.tab-content {
    padding: 28px 0;
    border-top: 1px solid #e2e2e2;
    
}
.page,
.lastes-item-content {
    max-width: 1000px;
    margin: auto;
}
.tab-pane {
    color: #333;
    display: none;
}

    .tab-pane.active {
        display: block;
    }

.article-author {
    margin: 11px 0 4px;
    color: #999;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 11px !important;
    font-weight: 500;
    line-height: 12px;
}


.lastes-item span {
    color: #999;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.lastes-item a {
    text-decoration: none;
    color: var(--text-dark);
}

    .lastes-item a:hover {
        text-decoration: underline;
        color: var(--text-dark) !important;
    }

.lastes-item h2 {
    font-feature-settings: 'kern';
    margin-bottom: 8px;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    padding-bottom: 8px;
}

.lastes-item img {
    width: 100%;
}

.lastes-item {
    padding: 21px 0;
    border-bottom: 1px solid #e2e2e2;
}

    .lastes-item:last-child {
        border: none;
    }

.tab-item i {
    padding-left: 4px;
    font-size: 15px;
    color: var(--text-dark);
}
/* Search */
#div1 {
    margin-bottom: 20px;
}

#div2 {
    margin: 20px 280px;
}

    #div2 p {
        margin-left: 100px;
    }

    #div2 h3 {
        margin-left: 100px;
    }

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

select {
    height: 40px;
    margin-left: 18px;
    margin-bottom: 8px;
    margin-top: 20px;
}

    select option {
        color: red;
        font-weight: bold;
    }

.search {
    margin-left: 170px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.lastes-item #author {
    display: inline-block;
    margin-top: 23px;
}

.lastes-item #print {
    display: inline-block;
    margin-top: 23px;
    font-size: 16px;
}

.lastes-item p {
    font-size: 19px;
}

.col-7 .caterogy {
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(95, 86, 86);
    font-weight: normal;
}

.button {
    margin-top: 15px;
    margin-left: 395px;
}


/* Detail */

.container {
    /* background-color: #ff8c00; */
    position: relative;
    color: var(--text);
    font-family: var(--famlily-2);
}

.title {
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: var(--text-dark);
    font-weight: 700;
    font-family: var(--famlily-1);
    font-size: 1.3rem;
}

.main-title {
    margin-bottom: 2rem;
}

    .main-title h1 {
        margin: 0;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 100;
    }

.main-description {
    font-size: 2.3rem;
    line-height: 3.2rem;
    font-weight: 100;
}

.connection {
    text-align: center;
    border-top: 1px solid var(--line-light);
    padding-top: 2rem;
}

.connection__item {
    margin-right: 1.6rem;
    box-sizing: content-box;
    transition: all linear .1s;
}

    .connection__item:hover {
        transform: translateY(-5px);
    }

.facebook,
.twitter,
.email,
.share {
    display: inline-block;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.call {
    display: inline-block;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(/Assets/img/call.svg);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.flag {
    position: absolute;
}

.main-pic {
    margin-top: 1.5rem !important;
    position: relative;
    color: #fff;
}

.main-pic__link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.main-pic__view span {
    display: inline-block;
    transition: all ease-out .1s;
}

.main-pic__link:hover span {
    margin-left: 10px;
}


.main-pic__bg {
    width: 100%;
    height: 100%;
    max-height: 150px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 2px;
    background: linear-gradient(transparent,rgba(0,0,0,0.7));
}

.main-pic__overlay {
    width: 100%;
    height: 100%;
    background-color: #ffffff25;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: all linear .5s;
}

.main-pic__link:hover .main-pic__overlay {
    display: block;
}

.main-pic__slider {
    color: #fff;
    position: absolute;
    width: 85%;
    bottom: 5rem;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto
}

.main-pic__slider-top {
    border-bottom: 1px solid var(--line-light);
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 2rem;
    /* letter-spacing: 5px; */
    margin: 2rem auto;
}

.main-pic__slider-bottom {
    display: flex;
    margin-bottom: 1rem;
}

    .main-pic__slider-bottom p {
        font-size: 1.2rem;
        font-weight: 100;
        font-family: var(--famlily-1);
        margin: auto 1rem;
        padding: 1.5rem auto !important;
    }

.main-pic__icon {
    background-repeat: no-repeat;
    width: 3rem;
    height: 2.5rem;
}

.main-pic__number,
.main-pic__view {
}

.main-pic__view {
}

.main-pic__number {
    border-right: 1px solid #fff;
    padding-right: 1.5rem;
}


.main-pic__description {
    display: block;
    font-size: 1.6rem;
    color: var(--text-gray);
    margin: 1rem auto;
    /* user-select: text; */
}

.main-pic__description--small {
    font-size: 1.4rem;
    color: var(--text-gray-light);
}

.author {
    font-family: var(--famlily-1);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-dark);
}

.author_link {
    margin: 3.5rem auto;
}

.author__name a {
    text-decoration: none;
    color: var(--text-dark);
    border-bottom: 1px solid var(--line);
}

    .author__name a:hover {
        border-bottom: 0;
    }

.time {
    display: block;
    font-family: var(--famlily-1);
    color: var(--text-gray);
    font-size: 1.2rem;
    font-weight: 500;
}

.bonus {
    font-family: var(--famlily-1);
    font-size: 1.4rem;
    margin: 2.2rem auto;
}

.tick {
    color: var(--text);
    font-weight: 500;
    display: inline-block;
    font-size: 1rem;
    position: relative;
}

.tick__info {
    text-align: center;
    font-size: 1.3rem;
    border-right: 1px solid var(--line);
}

.tick i {
    display: inline-block;
    height: 1.6rem;
    /* margin-right: 0.4rem; */
    margin-top: -0.3rem;
    vertical-align: middle;
    width: 1.6rem;
}

.bonus-head {
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
    padding: 1.5rem;
    line-height: 2rem;
    padding-left: 0;
    padding-right: 0;
    margin: .5rem auto;
}

.bonus-title {
    font-weight: bold;
    color: var(--text-dark);
    font-size: 80%;
}

.bonus-cuisines,
.bonus-address__price,
.bonus-address__money {
    border-right: 1px solid var(--line);
    text-align: center;
}

.main-content {
    font-family: var(--famlily-2);
    font-size: 2rem;
    line-height: 3.1rem;
    margin: 3rem auto;
    /* user-select: text; */
    /* text-align: justify; */
}

.pic-content {
    margin-left: 50%;
    transform: translateX(-50%);
}

.request-sign-up {
    padding-top: 2rem;
    font-family: var(--famlily-2);
    font-size: 1.6rem;
    font-style: italic;
    border-top: 1px solid var(--line-light);
}

    .request-sign-up strong,
    .request-sign-up button {
        font-family: var(--famlily-1);
    }

    .request-sign-up strong {
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
    }

    .request-sign-up button {
        width: 100%;
        cursor: pointer;
        height: 3.5rem;
        background-color: #fff;
        font-weight: 600;
        border-radius: .2rem;
        border: 1px solid;
        font-size: 1.4rem;
    }

        .request-sign-up button:hover {
            color: #fff;
            background-color: var(--text-dark);
            transition: all linear .3s;
        }

.other-articles {
    border: 1px solid var(--line);
    margin-bottom: 50px;
    padding: 2rem !important;
}

.other-articles-picture__item {
    transition: all linear .2s;
}

.other-articles__link:hover .other-articles-picture__item {
    transform: scale(1.1);
}

.other-articles__title {
    font-family: var(--famlily-1);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    border-bottom: 1px solid var(--line);
    padding-bottom: 1.5rem;
    user-select: none;
}

.other-articles__item {
    margin: 2rem auto;
    transition: all linear .2s;
}


    .other-articles__item:hover {
        background-color: #f1f1f1
    }

    .other-articles__item:last-child {
        margin-bottom: 0;
    }

.other-articles-title__item {
    display: block;
    position: relative;
}

    .other-articles-title__item .wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
    }

.other-articles-title__son {
    color: var(--text-dark);
    font-size: 1.8rem;
    margin: .8rem 2rem .8rem auto;
    transition: all linear .2s;
    /*Limit 1 line and hidden*/
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.other-articles-title__time {
    display: block;
    font-family: var(--famlily-1);
    color: var(--text-gray);
    font-size: 1.2rem;
    font-weight: 500;
}

.other-articles__link:hover .other-articles-title__son {
    transform: translateX(.5rem)
}

.map {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
}

.connection-bottom {
    text-align: center;
}

.connection-now {
    color: var(--text-dark);
    font-size: 1.6rem;
    line-height: 3rem;
    font-style: italic;
    font-weight: 600;
    user-select: none;
    margin-bottom: 1.5rem;
}

.under {
    margin-bottom: 3rem;
}

/*Only mobile*/
@media (max-width: 739px) {
    .main-content {
        text-align: justify;
    }

    .main-pic__description {
        max-width: 90%;
    }

    .bonus-cuisines,
    .bonus-address__price,
    .bonus-address__money {
        text-align: left !important;
    }

    .header_title {
        margin-left: 50% !important;
        transform: translateX(-50%);
    }

    .main-description {
        text-align: justify;
    }

    /* .other-articles__item {
        margin: 1.5rem auto;
    }
    
    .other-articles {
        padding: 1.5rem;
    } */

    .other-articles-title__son {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .page,
    .lastes-item-content {
        max-width: 400px;
        width:auto;
    }
}

/* >= Tablet */
@media (min-width: 740px) {

/* PC medium resolution > */
@media (min-width: 1113px) {
    .page,
    .lastes-item-content {
        max-width: 1200px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {

}


@media (max-width: 1023px) {
    .icon__search,
    .category__name,
    .menu-item__icon,
    .menu-item__head,
    .menu-item:hover .menu-sub,
    .check-search:checked ~ .search-box,
    .check-search:checked ~ .go,
    .subscribe,
    .login {
        display: none;
    }

    .check-under-nav:checked ~ .login-mobile {
        display: block !important;
    }

    .form-right {
        right: 1rem;
    }

    .icon-user {
        width: 1.5rem;
        display: block;
    }

    .menu-list {
        display: flex;
    }

    .menu-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .menu-item__link {
        padding-left: 1rem;
    }

    .menu-mobile {
        padding: 2rem 20vw;
    }

    .menu {
        width: 100%;
        padding: 0;
    }

    .logo-menu {
        display: block;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid var(--line);
        position: relative;
    }

        .logo-menu a {
            display: block;
        }

        .logo-menu svg {
            width: 23rem;
            margin-left: 50%;
            transform: translateX(-50%);
            padding-bottom: .5rem;
            padding-top: 1.5rem;
        }

    .icon-exit {
        font-size: 1.7rem;
        position: absolute;
        right: 1rem;
        top: 55%;
        transform: translateY(-50%);
    }

    .form-search-header {
        display: flex;
        height: auto;
    }

    .search-box__header {
        font-family: var(--famlily-1);
        height: 35px;
        flex: 1;
        min-width: 10px;
        outline: none;
        border: 1px solid var(--line);
        padding: 0 1.5rem;
        font-size: 1.3rem;
    }

    .go-header {
        display: flex;
        text-transform: uppercase;
        align-items: center;
    }
    .page,
    .lastes-item-content {
        max-width: 748px;
    }

}

/*Navbar sec*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 215px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-110%);
    transition: all linear .2s;
    z-index: 999;
    border: 1px solid var(--line);
    box-shadow: 8px 0 15px var(--shadow);
    border-radius: 2px;
    padding: 1.5rem;
}

.menu-mobile {
    margin: 0 1rem;
}

.logo-menu {
    display: none;
}

.check-menu:checked ~ .menu {
    transform: translateX(-0%);
    transition: all linear .2s;
    display: block;
    z-index: 200;
}


.menu-list {
    display: block;
    list-style: none;
}

.menu-item__head,
.menu-item {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
    position: relative;
    width: 100%;
}

    .menu-item i {
        color: var(--text-gray-light);
        font-size: 0.8rem;
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

.menu-item__link {
    font-family: var(--famlily-1);
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: bold;
    padding: 0 .5rem;
    border-radius: 3px;
}

    .menu-item__link:hover {
        background-color: var(--blue-hover);
        color: var(--text-dark) !important;
    }

.menu-sub {
    background-color: #fff;
    position: absolute;
    width: 20rem;
    list-style: none;
    top: -4rem;
    left: 19.2rem;
    border: 1px solid var(--line);
    box-shadow: 1px 1px 10px var(--shadow);
    padding: 1rem 2rem;
    border-radius: 3px;
    display: none;
    z-index: 4;
}

.menu-item:hover .menu-sub {
    display: block;
}

.menu-item:hover .menu-item__icon {
    display: none;
}

.menu-sub::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -20px;
    width: 3rem;
    height: 3rem;
}

.menu-sub::after {
    content: "";
    position: absolute;
    top: 42px;
    left: -12px;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #fff;
    border-bottom: 1px solid var(--line);
    border-left: 1px solid var(--line);
    border-radius: 2px;
    transform: rotate(45deg);
}

.menu-sub__header {
    text-transform: uppercase;
    font-family: var(--famlily-1);
    font-size: 1rem;
    padding-left: .5rem;
}

.menu-sub__list {
    list-style: none;
}


.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 3;
    display: none;
}

.check-menu:checked ~ .nav__overlay {
    display: block;
}



.up-to-head {
    position: fixed;
    top: 90vh;
    right: 5rem;
    z-index: 100;
}

.up-to-head__icon {
    position: absolute;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    background-color: var(--blue);
    border-radius: .3rem;
}


.navbar-sec {
    height: 4.2rem;
    border-bottom: 1px solid var(--line);
}

.under-header,
.navbar__header {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    padding: 0 1rem;
}

.nav__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .6rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-exit,
.icon__search,
.icon__menu {
    padding: .6rem;
    cursor: pointer;
}

.icon__search {
    margin-left: .5rem;
}

    .icon__search:hover,
    .icon__menu:hover {
        background-color: var(--hover-light);
        border-radius: 3px;
    }

.search-box {
    font-family: var(--famlily-1);
    outline: none;
    border: 1px solid var(--line);
    font-size: 1.3rem;
    padding: 0 1rem;
    margin-left: 7rem;
    border-radius: 2px;
    display: none;
}

.go {
    display: none;
}


.check-search:checked ~ .search-box {
    display: block;
}

.form-search-header {
    display: none;
}

.check-search:checked ~ .go {
    display: block;
}

.check-search:checked ~ .category__name {
    display: none;
}


.category__name {
    font-family: var(--famlily-1);
    display: block;
    margin-left: 8rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: bold;
}

    .category__name:hover {
        text-decoration: underline;
    }

.logo {
    position: absolute;
    width: 19.5rem;
    margin: 1rem auto;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.icon-user {
    display: none;
}

.form-left,
.form-right {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-left {
    left: 0;
}

.form-right {
    right: 0;
}

.btn {
    font-family: var(--famlily-1);
    background-color: var(--blue);
    border: 0;
    padding: 1.2rem;
    color: #fff !important;
    font-weight: bold;
    margin-left: 1rem;
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1rem;
    transition: all linear .2s;
    text-decoration: none;
    text-align: center;
}
    .up-to-head__icon:hover,
    .btn:hover {
        background-color: #326891 !important;
        color: #fff !important;
    }

.go,
.login,
.subscribe,
.subscribe-link,
.login-link {
    text-transform: uppercase;
}

.login-mobile {
    display: none !important;
}

.under-nav__label {
    padding: 8px;
}




/**---------------------------------------------------------/
