
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        @Html.Partial("_NavAdmin")
    </div>
    </div>

