@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}

<style>
    #content {
        display: flex;
    }

    h1 {
        display: flex;
        margin: auto;
        color: #333;
        font-weight: bold;
        user-select: none;
    }
</style>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <h1>Welcome to The New York Time Admin page !!!</h1>
    </div>
</div>