@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Layout.cshtml";
}

<style>


    
</style>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div id="content-manage">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Welcome to The New York Time Admin page !!!
            </a>
        </div>
      
    </div>
</div>