@model The_NewYork_Time.Models.Section
@{
    ViewBag.Title = "ShowCate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <!-- Section header -->
    <header id="section-header">
        <div class="section-title">
            <h1>@Html.DisplayFor(model => model.sectionname) News</h1>
        </div>
        <nav class="section-nav">
            <ul class="list-nav">
                @Html.ListBox(new SelectList(Model.ListCategory,"categoryname"),htmlAttributes: new {@class="list"})


            </ul>
        </nav>
    </header>
    <!-- End Section Header -->
    <!-- Section New Info -->
    <section id="section-content">
        <div class="section-content-head">
            <div class="rowp">
                <div class="boder-md">
                    <div class="col col-6 col-md7 col-sm12 content-left">
                        <div class="head-img">
                            <a href="/Categories/Article/1">
                                <img src="https://static01.nyt.com/images/2021/06/24/multimedia/24canada-graves--sub/24canada-graves--sub-videoLarge.jpg" alt="">
                            </a>

                            <p>AMBER BRACKEN FOR THE NEW YORK TIMES</p>
                        </div>
                        <div class="head-content">
                            <div class="head-title">
                                <h2><a href="#">In Canada, Another ‘Horrific’ Discovery of Indigenous Children’s Remains</a></h2>
                            </div>
                            <div class="head-descrip">
                                <p>An Indigenous group said the remains of hundreds of children had been found in unmarked graves on the site of a former boarding school in Saskatchewan.</p>
                            </div>
                            <div class="head-article">
                                <span class="minute">
                                    51m ago
                                </span>
                                <span class="space"></span>
                                <span class="name-aricle">
                                    By IAN AUSTEN
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col col-3 col-md5 col-sm12 content-center">
                        <div class="">
                            <div class="head-img">
                                <a href="">
                                    <img src="https://static01.nyt.com/images/2021/06/21/world/Nigeria-StolenArt-07/merlin_189587424_3dbb9ffc-0c9a-4fdc-8003-bbcc4b18cb9f-videoLarge.jpg" alt="">
                                </a>

                                <p>TOM SAATER FOR THE NEW YORK TIMES</p>
                            </div>
                            <div class="head-content">
                                <div class="head-title">
                                    <h2><a href="#">In the West, the Looted Bronzes Are Museum Pieces. In Nigeria, ‘They Are Our Ancestors.’</a></h2>
                                </div>
                                <div class="head-descrip">
                                    <p>When British soldiers stole the treasured works in 1897, it left a gaping hole in an ancient culture. With a few set to return to Nigeria, can their meaning be restored, too?</p>
                                </div>
                                <div class="head-article">
                                    <span class="minute">
                                        15h ago
                                    </span>
                                    <span class="space"></span>
                                    <span class="name-aricle">
                                        By RUTH MACLEAN and ALEX MARSHALL
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-3 col-md12 col-sm12">
                    <div class="rowp">
                        <div class="col col-md6 head-content content-right">
                            <div class="head-title">
                                <h2><a href="#">‘Forbidden Fruit’: Apple Daily, Pro-Democracy Newspaper in Hong Kong, Is Forced to Close</a></h2>
                            </div>
                            <div class="head-img-right">
                                <a href="#">
                                    <img src="https://static01.nyt.com/images/2021/06/24/world/24hongkong-apple-p11/00hongkong-newspaper1-thumbStandard.jpg" alt="">
                                </a>


                            </div>
                            <div class="head-descrip">
                                <p>The police also arrested an editorial writer as part of an expanding national security investigation into the newspaper that has raised concerns about free speech.</p>
                            </div>
                            <div class="head-article">
                                <span class="minute">
                                    10h ago

                                </span>
                                <span class="space"></span>
                                <span class="name-aricle">
                                    By AUSTIN RAMZY and TIFFANY MAY
                                </span>
                            </div>
                        </div>
                        <div class="col col-md6 head-content mt-19 mt-bd-0">
                            <div class="head-title">
                                <h2><a href="#">How Press Freedom Is Being Eroded in Hong Kong</a></h2>
                            </div>
                            <div class="head-img-right">
                                <a href="#">
                                    <img src="https://static01.nyt.com/images/2021/06/23/world/23hongkong-press01/23hongkong-press01-thumbStandard.jpg" alt="">
                                </a>


                            </div>
                            <div class="head-descrip">
                                <p>The forced closure of the pro-democracy Apple Daily newspaper is the latest worrisome sign for journalists in the Chinese territory.</p>
                            </div>
                            <div class="head-article">
                                <span class="minute">
                                    13h ago
                                </span>
                                <span class="space"></span>
                                <span class="name-aricle">
                                    By JENNIFER JETT
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-content-center">
            <ul class="list-content">
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23hongkong-trial1/merlin_189736158_509935f6-b9e7-4f86-bb1b-3b654006e1de-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Protester Who Crashed Into Police Faces Hong Kong’s First Security Law Trial</a>
                    </h2>

                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/24/world/24aquino-top/24aquino-top-videoLarge-v2.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Benigno S. Aquino III, Former President of the Philippines, Is Dead at 61</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23tigray-sub1/merlin_189765255_abb63b0e-01bc-4e1e-a116-4e0e7bd36f7b-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Dozens Killed in Market Airstrike in Ethiopia, Officials Say</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23europe-lgbt01/merlin_189238635_bd16cd3d-8c5f-479a-a921-f93ed1c43dbd-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">A Culture War Between Hungary and Europe Escalates Over L.G.B.T. Bill</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23mexico-subway/merlin_187578138_89a99e5f-0f11-4b1e-b39d-f5c12bd01646-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Mexico’s President Says Carlos Slim Might Help Rebuild Collapsed Metro Line</a>
                    </h2>
                </li>
            </ul>
        </div>
        <div class="section-content-foot">
            <ul class="list-content">
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23iran/merlin_186291114_eeeb7be8-7c67-4f35-a098-d4d380a81f32-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Iran Atomic Agency Says It Thwarted Attack on a Facility</a>
                    </h2>

                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/24/business/24mcafee-print/24mcafee-print-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">John McAfee, Software Pioneer Turned Fugitive, Dies in Spanish Prison</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23japan-pandas1/23japan-pandas1-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">A Joyful Surprise at Japan’s Oldest Zoo: The Birth of Twin Pandas</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/04/15/world/xx-suez-hfo-01sub/merlin_185647902_fe26a1bd-8701-4e72-bd34-b9ff77bb2466-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Settlement Is Reached Over Stuck Ship That Blocked Suez Canal in Egypt</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/23/world/23russia-ship/23russia-ship-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Russia Says It Fired Warning Shots at a U.K. Warship Near Crimea</a>
                    </h2>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Section New Info -->
    <!-- Section US -->
    <section id="us">
        <div class="nation-header">
            <h2>
                <a href="">US</a>
            </h2>
            <a href="#">More in Read The US ></a>
        </div>
        <div class="us-content">
            <ul class="list-content">
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/19/world/19india-epidemic-esp-1/19india-epidemic-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Luego de la crisis de la COVID-19, India enfrenta la epidemia de un ‘hongo negro’</a>
                    </h2>

                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/21/business/22china-vaccine-ESP-1/00china-vaccine-1-videoLarge-v2.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">El aumento de los contagios de COVID-19 en algunos países que usaron vacunas chinas genera dudas sobre su efectividad</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/19/world/19brazil-drought1-esp-1/merlin_178300212_97c0596a-8222-4038-b829-194f09e55f3b-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Brasil, entre la sequía y el coronavirus</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/18/science/18SCI-SKYFALL-ESP-00/18SCI-SKYFALL1-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Cayó casi tres kilómetros y se fue caminando</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/20/magazine/19mag-father-ESP-04/20mag-father-02-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Mi padre desapareció cuando yo tenía 7 años. Ese misterio me convirtió en quien soy</a>
                    </h2>
                </li>
            </ul>
        </div>

    </section>
    <!-- End Section Us -->
    <!-- Section VietNam -->
    <section id="vietnam">
        <div class="nation-header">
            <h2>
                <a href="">Vietnam</a>
            </h2>
            <a href="#">More in Read The Vietnam ></a>
        </div>
        <div class="us-content">
            <ul class="list-content">
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/04/27/world/xxisrael-river-dispatch01/merlin_186075969_26582726-c437-4423-87f2-60466253bd36-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Fight Over a Gentle Stream Distills Israel’s Political Divide</a>
                    </h2>

                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/11/world/11G7-Dispatch/11G7-Dispatch-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Question Looms Over This Year’s Group of 7: Where Are All the Protesters?</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/06/06/world/06italy-dispatch1/merlin_188576283_eb73ec7b-d8e9-4f2c-aca9-096bc76d7c06-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">Wedding Receptions Are Back, and Italy’s Candy Makers Are Delighted</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/05/18/world/00helmand-dispatch-marja-top/00helmand-dispatch-marja-top-videoLarge-v2.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">A Siege, a Supply Run and a Descent Into a Decade-Old Battle</a>
                    </h2>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static01.nyt.com/images/2021/05/22/world/00BRAZIL-MURALS-DISPATCH1B/merlin_187943031_f5e99c6e-6f3a-4c2b-96e9-5219d79896dd-videoLarge.jpg" alt="">
                    </a>
                    <h2>
                        <a href="#">‘Good for the Soul’: Giant Murals Turn São Paulo Into Open Air Gallery</a>
                    </h2>
                </li>
            </ul>
        </div>

    </section>
    <!-- End Section Vietnam -->
    <!-- Section Latest -->
    <section id="latest">
        <div>
            <!-- Tab items -->
            <div class="tabs">
                <div class="tab-item active">

                    Latest
                </div>
                <div class="tab-item">
                    <form action="">
                        <input placeholder="Search" style="padding: 2px 0; border-radius: 5px;">
                        <i class="fas fa-search"></i>
                    </form>

                </div>

                <div class="line"></div>
            </div>

            <!-- Tab content -->
            <div class="tab-content ">
                <div class="tab-pane active">
                    <div class="lastes-item rowp">
                        <div class="col col-2  display-sm">
                            <span>June 24, 2021</span>
                        </div>
                        <div class="col col-7 col-sm12">
                            <h2>
                                <a href="#">
                                    Brazil Passes 500,000 Covid Deaths, a Tragedy With No Sign of Letup
                                </a>
                            </h2>
                            <p>With 2.7 percent of the world’s population, Brazil has suffered 13 percent of the Covid-19 fatalities, and the pandemic there is not abating.</p>
                        </div>
                        <div class="col col-3 col-sm12 mt-19">
                            <img src="https://static01.nyt.com/images/2021/06/21/world/00Brazil-Covid-Deaths-Photos-Top-promo/00Brazil-Covid-Deaths-Photos-Top-mediumThreeByTwo252.jpg?quality=100&auto=webp" alt="">
                        </div>
                    </div>
                    <div class="lastes-item rowp">
                        <div class="col col-2 display-sm">
                            <span>June 24, 2021</span>
                        </div>
                        <div class="col col-7 col-sm12">
                            <h2>
                                <a href="#">
                                    Why More People Are Getting Two Different Coronavirus Vaccines
                                </a>
                            </h2>
                            <p>
                                Several countries are allowing mix-and-match inoculation, which scientists hope will have benefits, and Chancellor Angela Merkel of Germany is among those to get it.

                            </p>
                        </div>
                        <div class="col col-3 col-sm12 mt-19">
                            <img src="https://static01.nyt.com/images/2021/06/23/world/23mix-n-match-explainer01/merlin_187969563_eed9bb59-2ad2-4862-bb44-ebbd4ca946a5-mediumThreeByTwo252.jpg?quality=100&auto=webp" alt="">
                        </div>
                    </div>
                    <div class="lastes-item rowp">
                        <div class="col col-2 display-sm">
                            <span>June 24, 2021</span>
                        </div>
                        <div class="col col-7 col-sm12">
                            <h2>
                                <a href="#">
                                    Hold the Tequila. The Sunrise Is All Some Travelers Need.
                                </a>
                            </h2>
                            <p>As vaccination levels rise and Americans head back to the roads and skies, sober travel, a subset of vacations once relegated to 12-steppers and recovering addicts, is going mainstream.</p>
                        </div>
                        <div class="col col-3 col-sm12 mt-19">
                            <img src="https://static01.nyt.com/images/2021/06/23/travel/oakImage-1624476417887/oakImage-1624476417887-mediumThreeByTwo252.jpg?quality=100&auto=webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane">
                    <div class="lastes-item rowp">
                        <div class="col col-2 display-sm">
                            <span>June 24, 2021</span>
                        </div>
                        <div class="col col-7 col-sm12">
                            <h2>
                                <a href="#">
                                    Brazil Passes 500,000 Covid Deaths, a Tragedy With No Sign of Letup
                                </a>
                            </h2>
                            <p>With 2.7 percent of the world’s population, Brazil has suffered 13 percent of the Covid-19 fatalities, and the pandemic there is not abating.</p>
                        </div>
                        <div class="col col-3 col-sm12 mt-19">
                            <img src="https://static01.nyt.com/images/2021/06/21/world/00Brazil-Covid-Deaths-Photos-Top-promo/00Brazil-Covid-Deaths-Photos-Top-mediumThreeByTwo252.jpg?quality=100&auto=webp" alt="">
                        </div>
                    </div>
                    <div class="lastes-item rowp">
                        <div class="col col-2 display-sm">
                            <span>June 24, 2021</span>
                        </div>
                        <div class="col col-7 col-sm12">
                            <h2>
                                <a href="#">
                                    Why More People Are Getting Two Different Coronavirus Vaccines
                                </a>
                            </h2>
                            <p>
                                Several countries are allowing mix-and-match inoculation, which scientists hope will have benefits, and Chancellor Angela Merkel of Germany is among those to get it.

                            </p>
                        </div>
                        <div class="col col-3 col-sm12 mt-19">
                            <img src="https://static01.nyt.com/images/2021/06/23/world/23mix-n-match-explainer01/merlin_187969563_eed9bb59-2ad2-4862-bb44-ebbd4ca946a5-mediumThreeByTwo252.jpg?quality=100&auto=webp" alt="">
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <!-- End Section Latest -->
</main>
<script>
    tab()
</script>


