@model IEnumerable<The_NewYork_Time.Models.Article>
<ul class="list-content">
    @foreach (var item in Model)
    {
        <li>
            <h1>ANH OWIIWIWIWIIW</h1>
            <a href="/Categories/Article/@item.idarticle">
                <img src="@item.image1" alt="">
            </a>
            <h2>
                <a href="/Categories/Article/@item.idarticle">@item.description</a>
            </h2>
        </li>
    }

   

</ul>
