@model The_NewYork_Time.Models.Category

<header id="section-header" class="page">
    <div class="section-world">
        <a href="/Home/Section/@Model.Id" class="section-header-link">
            <p>@Model.Section.sectionname</p>
        </a>
    </div>
    <div class="section-title">
        <h1>@Model.categoryname</h1>
    </div>
</header>
