@model IEnumerable<The_NewYork_Time.Models.Category>
<ul class="footer-category__list">
    @foreach (var item in Model)
    {
    <li class="footer-category__item"><a href="@Url.Action("Category","Sections",new {id =item.idcategory })" class="footer-category__link">@item.categoryname</a></li>
    }


</ul>