<<<<<<< HEAD
﻿
@model IEnumerable<The_NewYork_Time.Models.Category>
=======
﻿@model IEnumerable<The_NewYork_Time.Models.Category>
>>>>>>> 5b8d45b8c7cdce35e121772c04b2f83f709cf653
<ul class="footer-col-ul list-group list-group-flush" style="list-style:none;">
    @foreach (var item in Model)
    {
        <li class="footer-category__item"><a href="@Url.Action("Category","Sections",new {id =item.Id })" class="footer-category__link">@item.categoryname</a></li>
    }


</ul>
<<<<<<< HEAD

=======
>>>>>>> 5b8d45b8c7cdce35e121772c04b2f83f709cf653
