@model IEnumerable<The_NewYork_Time.Models.Article>


<div class="section-content-center">
    <ul class="list-content">
        @foreach (var item in Model)
        {
            <li>
                <a href="/Categories/Article/@item.Id">
                    <img  src="@item.image" alt="">
                </a>
                <h2 style="word-break: break-word; padding-top: 20px;">
                    <a href="/Categories/Article/@item.Id">@item.articlename</a>
                </h2>

            </li>
        }
        </ul>
</div>