@model IEnumerable<The_NewYork_Time.Models.Category>


    @foreach (var item in Model)
    {
       
        <ul class="menu-sub__list">

            <li class="menu-sub__item"><a href="@Url.Action("Category","Sections",new {id =item.Id })" class="menu-item__link">@item.categoryname</a></li>

        </ul>
    }

